$primary-grey: #353535;
$ligh-grey: #5E5E5E; 
$lighter-grey: #BFBFBF;
$pokemon-red: #F22539;

:export {
  primaryGrey: $primary-grey;
  lightGrey: $ligh-grey;
  lighterGrey: $lighter-grey;
  pokemonRed: $pokemon-red;
}