@import "../../variables.module.scss";

.button {
  color: white;
  background-color: $pokemon-red;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 30px;
}
.icon {
  display: flex;
  justify-content: center;
  padding: unset;
  background-color: transparent;
}
